
<app-title></app-title>

<div class="articles">
   <div class="articles__main">
      <app-big-card 
         photo="https://th.bing.com/th/id/OIP.6jVYa0H2xCAVqffcP2e_8QAAAA?pid=ImgDet&rs=1"
         autor="Tite Kubo"
         title="Bleach"
         description="According to sources on the Twitterverse, fans caught sight of scanned pages from the latest Shonen Jump issue which claims the anime will finally adapt the Bleach manga’s final story arc, the Thousand-Year Blood War, by 2021. It was after this arc when the manga officially ended in 2016."
      ></app-big-card>
   </div>

   <div class="articles__others">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
   </div>
</div>
